@import '../../styles/mixin';


.article{


    &__title{
        font-size: 32px;

        @include mediaTablet(){
            font-size: 42px;
        }
    }

    &__image{
        margin-bottom: 20px;
    }

    &__content{

        a {
            text-decoration: underline;
            transition: .3s;

            &:hover{
                color: var(--color-primary);
            }
        }

        p {
            font-weight: 300;

            strong{
                font-weight: 500;
            }
        }
    }
}